body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
}

input[type=text], select {
    width: 130px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px;
}

input[type=submit] {
    padding: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darkgrey;
}
