
table {
    border-collapse: collapse;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 20px auto 0 auto;
    position: relative;
    font-weight: normal;
}

table * {
    position: relative
}

table td, table th {
    padding-left: 8px;
    font-weight: normal;
}

table thead tr {
    height: 50px;
    background: #0077b3
}

table tbody tr {
    height: 50px
}

table td.r, table th.r {
    text-align: center
}

.table100-head th {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5
}

tbody tr {
    font-size: 14px;
    line-height: 1.2;
}

tbody tr:hover {
    color: #555;
    background-color: #f5f5f5;
    cursor: pointer
}

.column1 {
    padding-left: 40px;
    text-align: left;
}

.column2 {
    text-align: right;
}

.column3 {
    text-align: right;
}

.column4 {
    text-align: right;
}

.column5 {
    text-align: right;
    padding-right: 40px;
}

@media screen and (max-width: 992px) {
    table {
        display: block
    }

    table > *, table tr, table td, table th {
        display: block
    }

    table thead {
        display: none
    }

    table tbody tr {
        height: auto;
        padding: 37px 0
    }

    table tbody tr td {
        padding-left: 40% !important;
        margin-bottom: 24px
    }

    table tbody tr td:last-child {
        margin-bottom: 0
    }

    table tbody tr td:before {
        font-size: 14px;
        color: #999;
        line-height: 1.2;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0
    }

    table tbody tr td:nth-child(1):before {
        content: "Year"
    }

    table tbody tr td:nth-child(2):before {
        content: "Start Amount"
    }

    table tbody tr td:nth-child(3):before {
        content: "Annual Contribution"
    }

    table tbody tr td:nth-child(4):before {
        content: "Annual Interest"
    }

    table tbody tr td:nth-child(5):before {
        content: "End Balance"
    }


    .column4, .column5 {
        text-align: left
    }

    .column4, .column5 .column1, .column2, .column3 {
        width: 100%
    }

    tbody tr {
        font-size: 14px
    }
}

@media (max-width: 576px) {
    .container-table100 {
        padding-left: 15px;
        padding-right: 15px
    }
}